// .card-1{

//    margin: auto;
//    height: 40vh;
//    width: 100%;

// }

.card-2{
    background-color: bisque;
   margin: auto;
   height: 40vh;
   width: 100%;
}

.card-3{
   margin: auto;
   width: 100%;
}

.navbar-brand{
    background-color: #FF9F9F;
    padding: 20px;
    width: 100%;
}

.form-control{
    border-radius: 10px;
    color: white;
    background-color: #FF9F9F;
    border: none;

}

.button{
    background-color: #FF9F9F;
    padding: 30px;

}