



 <app-navbar></app-navbar>

  <!-- TASKS TO DO CARD HERE -->

  <div class="card-1" id="Tasks">
    <!-- TASKS TO DO CARD HERE -->
    <div class="container">
      <form [formGroup]="Form">
       
      

      </form>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">TASK</th>
        <th scope="col">DESCRIPTION</th>
        <!-- <th scope="col">OPTIONS</th> -->
  
      </tr>
    </thead>
    <tbody  *ngFor="let tut of tutorials ; let i = index" class="flex">
      <tr>
        <!-- <th scope="row">{{tut.tutorial_id}}</th> -->
        <td>{{tut.tutorial_name}}</td>
        <td>{{tut.tutorial_desc}}</td>
        <!-- <button routerLink="/edit">EDIT</button> -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          </label>
          <button (click)="Delete(tut.tutorial_id)">DELETE</button>
        </div>
          
      </tr>
  
    </tbody>
  </table>



<div class="button">
  <!-- <button><i class="fa fa-plus " ></i></button> -->

  <button type="button" class="btn" routerLink="/add">Add</button>

  


</div>




