// .card-1{

//    margin: auto;
//    height: 40vh;
//    width: 100%;

// }

.card-2{
    background-color: bisque;

   height: 40vh;
   width: 100%;
}


.navbar-brand{
    background-color: #FF9F9F;
    padding: 20px;
    width: 100%;
}

.form-control{
    border-radius: 10px;
    color: white;
    background-color: #FF9F9F;
    border: none;

}

.btn{
        color: #FF9F9F;
        position: fixed;
        left: 0;
        bottom: 0;
        // text-align: center;
        width: 100px;
        margin-bottom: 10px;
    }

.table{
   margin: auto;
}

.flex{
flex-direction: row;
}

.checked{
    padding: 30px
}

// .form-check{

// }


.butns{
    margin-left: 30px;
    color: #FF9F9F;
}