.card{
    margin: auto;
    margin-top: 50px;
    height: 50px;
    background-color: #FF9F9F;
    
}

.card-2{
    margin: auto;
    margin-top: 20px;
    height: 7vh;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.card-3{
    margin: auto;
    margin-top: 20px;
    height: 20vh;
    background-color: #FF9F9F;
    border-radius: 10px;
}