<h1 class="header-1">LOGIN AND USE THE APP</h1>
    <br>

  <div class="card w-75">
     <!-- LOGO GOES HERE -->
     <div class="card-2">
        <div class="card-body">
        </div>
      </div>
      <br>

    <div class="card-body">

        <form>
            <div class="form-group">
              <!-- <label for="exampleInputEmail1">Email address</label> -->
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <br>
            <div class="form-group">
              <!-- <label for="exampleInputPassword1">Password</label> -->
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <p class="">Forgot password</p>



       
              
              
            </div>
            <button type="submit" class="btn" routerLink="/table">Login</button>
            <a class="smalltxt" routerLink="/register">Create an account if you don’t have one</a>
          </form>
        

    </div>
  </div>
  

 
