.header-1{
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}

.card{
    margin: auto;
    border: none;
}

.smalltxt{
    display: flex;
    justify-content: center;
  align-items: center;

}


.card-2{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #FF9F9F;
  margin: auto;
  border-radius: 20px;

}

.form-control{
    color: white;
    border: none;
    border-radius: 30px;
    margin: auto;
    width: 50%;
    background-color: #FF9F9F;
    color: white;

}


.btn{
    width: 50%;
    justify-content: center;
    color: white;
    background-color: #FF9F9F;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: auto;

}

::placeholder{
    color: white;
}

